@model BrewBuddyCore.Models.Brew

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brew</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalGravity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalGravity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalGravity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalGravity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BrewID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
